<div class="row">
   <div class="span8">
    <h1>{{#m}}{{#Goal}}{{Name}}{{/Goal}}{{/m}}</h1>
   </div>
</div>
<div class="row">
    <ul class="nav nav-tabs" id="tab-achievements">
        <li class="active"><a href="#all" data-toggle="tab">All</a> </li>
        {{#m}} {{#LoggedIn}}
        <li><a href="#my-resolutions" data-toggle="tab">Mine</a> </li>
        {{/LoggedIn}} {{/m}}
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="all">
            <div id="all-list">
                {{#m}} {{#AllAchievements}}
                <div class="row">
                    {{#IsOnCourse}}
                    <div class="{{CssResolution}} span4">
                        <div class="row-fluid">
                            <div class="span2">
                                <img src="{{GravatarUrl}}" />
                            </div>
                            <div class="span10">
                                <div class="row">
                                    <div class="span5">
                                        {{UserName}}
                                    </div>
                                    <div class="span5">
                                        <span class="pull-right">{{PrettyDate}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span10">
                                        <p>
                                            {{& Comment}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="achievement-alert alert-info span4">
                        <div class="row-fluid">
                            <div class="span2">
                            </div>
                            <div class="span10">
                                <div class="row">
                                    <div class="span5">
                                    </div>
                                    <div class="span4">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span10">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/IsOnCourse}} {{^IsOnCourse}}
                <div class="achievement-alert alert-info span4">
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span10">
                            <div class="row">
                                <div class="span5">
                                </div>
                                <div class="span4">
                                </div>
                            </div>
                            <div class="row">
                                <div class="span10">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="{{CssResolution}} span4">
                    <div class="row-fluid">
                        <div class="span2">
                            <img src="{{GravatarUrl}}" />
                        </div>
                        <div class="span10">
                            <div class="row">
                                <div class="span5">
                                    {{UserName}}
                                </div>
                                <div class="span5">
                                    <span class="pull-right">{{PrettyDate}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span10">
                                    <p>
                                        {{& Comment}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/IsOnCourse}}
            </div>
            {{/AllAchievements}} {{/m}}
        </div>
    </div>
    <div class="tab-pane" id="my-resolutions">
        <div id="my-list">
            {{#m}} {{#MyAchievements}}
            <div class="row">
                    {{#IsOnCourse}}
                    <div class="{{CssResolution}} span4">
                        <div class="row-fluid">
                            <div class="span2">
                                <img src="{{GravatarUrl}}" />
                            </div>
                            <div class="span10">
                                <div class="row">
                                    <div class="span5">
                                        {{UserName}}
                                    </div>
                                    <div class="span5">
                                        <span class="pull-right">{{PrettyDate}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span10">
                                        <p>
                                            {{& Comment}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="achievement-alert alert-info span4">
                        <div class="row-fluid">
                            <div class="span2">
                            </div>
                            <div class="span10">
                                <div class="row">
                                    <div class="span5">
                                    </div>
                                    <div class="span4">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span10">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/IsOnCourse}} {{^IsOnCourse}}
                <div class="achievement-alert alert-info span4">
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span10">
                            <div class="row">
                                <div class="span5">
                                </div>
                                <div class="span4">
                                </div>
                            </div>
                            <div class="row">
                                <div class="span10">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="{{CssResolution}} span4">
                    <div class="row-fluid">
                        <div class="span2">
                            <img src="{{GravatarUrl}}" />
                        </div>
                        <div class="span10">
                            <div class="row">
                                <div class="span5">
                                    {{UserName}}
                                </div>
                                <div class="span5">
                                    <span class="pull-right">{{PrettyDate}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span10">
                                    <p>
                                        {{& Comment}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/IsOnCourse}}
            </div>
            {{/MyAchievements}} {{/m}}
        </div>
    </div>
</div>
</div> <!--</div>--> 