@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="span10">
        <h2>Submit a New Path</h2>
        <form>
        <div class="clearfix" id="path-form">
            <label for="Name">Name</label>
            <div class="input">
                <input id="path-name" name="Name" type="text" />
            </div>
			<label for="Description">Description</label>
            <div class="input">
				<textarea id="path-description" name="Description" rows="5" cols="150"></textarea>
            </div>
			<input id="add-path" type="button" class="btn btn-primary" value="save path"/>
        </div>
		<div class="clearfix">
            <h3><label for="Name" id="path-name-saved"></label></h3>
			<p><span id="path-description-saved"></span></p>
			<input type="hidden" id="path-id" />
        </div>
        <div class="clearfix hide" id="goals">
			<label for="Name">Goal</label>
			<div class="input">
                <input id="goal-name" name="Goal" type="text" /> <input id="add-goal" type="button" class="btn btn-primary" value="add goal"/>
            </div>
			<hr />

			<label for="Goals">Goals</label>
			<div class="clearfix">
				<div id="goals-list">
				
				</div>
			</div>
        </div>
        </form>
    </div>
</div>

@section PageScript {
	<script src="/Content/js/libs/mustache.js"></script>
	<script type="text/javascript" src="/Content/js/specific/path.create.js"></script>
}