@using DPath.Models.ViewModels


@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/Layout.cshtml";
}

@foreach (PathView m in Model.Paths)
	{
		
		<div class="row">
			<div class="span8">
				<pre class="goal"><a href="/@m.Id">@m.Name</a></pre>
				<blockquote>@m.Description</blockquote>
			</div>
			<div class="span4 pull-right">
				<div class="alert alert-error pull-right"> @m.TotalAstray</div>
				<div class="alert alert-success pull-right">@m.TotalOncourse</div>
			</div>
		</div>	
	}