@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/Layout.cshtml";
}

 <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>D. Path</h1>
        <p>Think about the path you want to walk, reveal to yourself if you're strong enough to surpass the paths. (yeah, right)</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>NancyFX</h2>
	           <p>Nancy is a lightweight, low-ceremony, framework for building HTTP based services on .Net and Mono. The goal of the framework is to stay out of the way as much as possible and provide a super-duper-happy-path to all interactions.</p>
          <p><a class="btn" href="http://nancyfx.org">View details &raquo;</a></p>
        </div>
        <div class="span6">
          <h2>RavenDB</h2>
           <p>RavenDB is a transactional, open-source Document Database written in .NET, offering a flexible data model designed to address requirements coming from real-world systems. RavenDB allows you to build high-performance, low-latency applications quickly and efficiently.</p>
          <p><a class="btn" href="http://ravendb.net">View details &raquo;</a></p>
       </div>
	</div>

	 <div class="row">
		<div class="span12">
			<h3>Thanks to:</h3>
			<ul>
				<li><a href="https://github.com/cvrajeesh/NBrowserID">NBrowserID</a></li>
				<li><a href="http://www.toptensoftware.com/markdowndeep/">MarkdownDeep</a></li>
				<li><a href="http://malsup.com/jquery/block/">jQuery blockUI</a></li>
				<li><a href="http://james.newtonking.com/projects/json-net.aspx">Json.NET</a></li>
				<li><a href="http://nlog-project.org/">NLog</a></li>
			</ul>
		</div>
	 </div>